<ul class="nav nav-sidebar">
  <li class="<%= 'active' if current_page?('/') %>">
    <%= link_to 'Overview', root_path %>
  </li>
  <li class="<%= 'active' if current_page?('/getting-started') %>">
    <%= link_to 'Getting Started', getting_started_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Pagination</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/add-kaminari') %>">
    <%= link_to 'Add Kaminari', add_kaminari_path %>
  </li>
  <li class="<%= 'active' if current_page?('/customize-views') %>">
    <%= link_to 'Install Views & Customize', customize_views_path %>
  </li>
  <li class="<%= 'active' if current_page?('/presenter-pattern') %>">
    <%= link_to 'Presenter Pattern', presenter_pattern_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Upload files</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/install-carrierwave') %>">
    <%= link_to 'Install Carrierwave', install_carrierwave_path %>
  </li>
  <li class="<%= 'active' if current_page?('/add-documents-to-projects') %>">
    <%= link_to 'Add Documents to Projects', add_documents_to_projects_path %>
  </li>
  <li class="<%= 'active' if current_page?('/generate-thumbnails') %>">
    <%= link_to 'Generate Thumbnails', generate_thumbnails_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Email Notifications</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/action-mailer') %>">
    <%= link_to 'ActionMailer', action_mailer_path %>
  </li>
  <li class="<%= 'active' if current_page?('/html-email-template') %>">
    <%= link_to 'Add HTML Email Template', html_email_template_path %>
  </li>
  <li class="<%= 'active' if current_page?('/threading-with-suckerpunch') %>">
    <%= link_to 'Threading with SuckerPunch', threading_with_suckerpunch_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Tags</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/install-ActsAsTaggableOn') %>">
    <%= link_to 'Install ActsAsTaggableOn', install_ActsAsTaggableOn_path %>
  </li>
  <li class="<%= 'active' if current_page?('/install-select2-rails') %>">
    <%= link_to 'Install select2-rails', install_select2_rails_path %>
  </li>
  <li class="<%= 'active' if current_page?('/autocomplete-tags') %>">
    <%= link_to 'Autocomplete Tags', autocomplete_tags_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Full-Text Search</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/install-solr-with-sunspot') %>">
    <%= link_to 'Install Solr with Sunspot', '/install-solr-with-sunspot' %>
  </li>
  <li class="<%= 'active' if current_page?('/index-projects') %>">
    <%= link_to 'Index Projects', '/index-projects' %>
  </li>
  <li class="<%= 'active' if current_page?('/add-search-form') %>">
    <%= link_to 'Add Search Form', '/add-search-form' %>
  </li>
  <li class="<%= 'active' if current_page?('/facet-tags') %>">
    <%= link_to 'Facet Tags', '/facet-tags' %>
  </li>
  <li class="<%= 'active' if current_page?('/revamp-layout-with-sidebar') %>">
    <%= link_to 'Revamp Layout with Sidebar', '/revamp-layout-with-sidebar' %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Want more?</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/add-ckeditor-wysiwyg') %>">
    <%= link_to 'Add CKEditor WYSIWYG', '/add-ckeditor-wysiwyg' %>
  </li>
</ul>