<ul class="nav nav-sidebar">
  <li class="<%= 'active' if current_page?('/') %>">
    <%= link_to 'Overview', root_path %>
  </li>
  <li class="<%= 'active' if current_page?('/getting-started') %>">
    <%= link_to 'Getting Started', getting_started_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Pagination</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/add-kaminari') %>">
    <%= link_to 'Add Kaminari', add_kaminari_path %>
  </li>
  <li class="<%= 'active' if current_page?('/pagination-customize-views') %>">
    <%= link_to 'Install Views & Customize', pagination_customize_views_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Email Notifications</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/action-mailer') %>">
    <%= link_to 'ActionMailer', action_mailer_path %>
  </li>
  <li class="<%= 'active' if current_page?('/test-emails-with-letter-opener') %>">
    <%= link_to 'Test emails with LetterOpener', '/test-emails-with-letter-opener' %>
  </li>
  <li class="<%= 'active' if current_page?('/threading-with-suckerpunch') %>">
    <%= link_to 'Threading with SuckerPunch', threading_with_suckerpunch_path %>
  </li>
</ul>


<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Assign Users to Projects</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/has-and-belongs-to-many') %>">
    <%= link_to 'Has and Belongs to Many', '/has-and-belongs-to-many' %>
  </li>
  <li class="<%= 'active' if current_page?('/form-and-display') %>">
    <%= link_to 'Form & Display', '/form-and-display' %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Upload files</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/install-carrierwave') %>">
    <%= link_to 'Install Carrierwave', install_carrierwave_path %>
  </li>
  <li class="<%= 'active' if current_page?('/user-profile') %>">
    <%= link_to 'User Profile', '/user-profile' %>
  </li>
  <li class="<%= 'active' if current_page?('/add-user-avatar-form') %>">
    <%= link_to 'Add User Avatar Form', '/add-user-avatar-form' %>
  </li>
  <li class="<%= 'active' if current_page?('/generate-thumbnails') %>">
    <%= link_to 'Generate Thumbnails', generate_thumbnails_path %>
  </li>
<!--   <li class="<%= 'active' if current_page?('/create-documents') %>">
    <%= link_to 'Create Documents', create_documents_path %>
  </li>
  <li class="<%= 'active' if current_page?('/create-documentable-nested-form') %>">
    <%= link_to 'Create Documentable Nested Form', '/create-documentable-nested-form' %>
  </li> -->
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Full-Text Search</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/install-solr-with-sunspot') %>">
    <%= link_to 'Install Solr with Sunspot', '/install-solr-with-sunspot' %>
  </li>
  <li class="<%= 'active' if current_page?('/index-projects') %>">
    <%= link_to 'Index Projects', '/index-projects' %>
  </li>
  <li class="<%= 'active' if current_page?('/add-search-form') %>">
    <%= link_to 'Add Search Form', '/add-search-form' %>
  </li>
  <li class="<%= 'active' if current_page?('/facet-status') %>">
    <%= link_to 'Facet Status', '/facet-status' %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Want more?</h4></a>
  </li>
  <li class='disabled'><%= link_to 'Facet Assignees', '' %></li>
  <li class='disabled'><%= link_to 'Add CKEditor WYSIWYG', '' %></li>
  <li class='disabled'><%= link_to 'Add tags with ActsAsTaggableOn', '' %></li>
  <li class='disabled'><%= link_to 'Install select2-rails gem to autocomplete tags', '' %></li>
  <li class='disabled'><%= link_to 'Customize Pagination with the Presenter pattern', '' %></li>
</ul>